astroid==1.6.5
backports.functools-lru-cache==1.5
bcrypt==3.1.7
blinker==1.4
CacheControl==0.12.5
cachetools==3.1.0
certifi==2019.3.9
cffi==1.13.1
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==3.7.4
dill==0.2.9
enum34==1.1.6
firebase-admin==2.16.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
future==0.16.0
futures==3.2.0
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.17.0
google-api-core==1.8.2
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-firestore==0.32.0
google-cloud-storage==1.14.0
google-gax==0.16.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.19.0
gunicorn==19.9.0
httplib2==0.12.1
idna==2.8
isort==4.3.16
itsdangerous==0.24
Jinja2==2.10
jws==0.1.3
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
msgpack==0.6.1
oauth2client==3.0.0
Pillow==9.0.0
ply==3.8
protobuf==3.7.1
psycopg2==2.8.4
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pycryptodome==3.4.3
pylint==1.9.4
Pyrebase==3.0.27
python-firebase==1.2
python-jwt==2.0.1
python2-secrets==1.0.5
pytz==2018.9
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.2.12
SQLAlchemy-Paginator==0.1
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.11.1
WTForms==2.2.1
